<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.muni.fi.randgkaapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.MinEntropySourceAppActivity"
            android:label="@string/rand_source" >
        </activity>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.RandExtractorAppActivity"
            android:label="@string/rand_extractor" >
        </activity>
        <service
            android:name="cz.muni.fi.randgka.bluetoothgka.BluetoothCommunicationService"
            android:exported="false" >
        </service>
		<service
            android:name="cz.muni.fi.randgka.wifigka.WifiCommunicationService"
            android:exported="false" >
        </service>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.GKAActivity"
            android:label="@string/title_activity_gkaprotocol" >
        </activity>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.LongTermKeyAppActivity"
            android:label="@string/title_activity_public_key_cryptography_app" >
        </activity>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.GKAMemberActivity"
            android:label="@string/title_activity_bluetooth_gkamember" >
        </activity>
        <activity
            android:name="cz.muni.fi.randgka.randgkaapp.GKADecisionActivity"
            android:label="@string/title_activity_gkatech_decision" >
            
            <intent-filter>
                <action android:name="cz.muni.fi.randgka.ACTION_GKA_KEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
